<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Imagenes Random</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    </head>
    <body {% if random_bg_url %} style="background: url('{{ random_bg_url }}') no-repeat center center fixed; background-size: cover;"{% endif %}>
        <div class="container clearfix"
             {% if random_bg_url %}style="background: transparent;"{% endif %}>
            <div class="form registration">
                <a class="logo" href="">
                    {% if random_logo_url %}
                        <img src="{{ random_logo_url }}"
                             alt="Logo"
                             style="max-width: 180px;
                                    height: auto;
                                    display: block;
                                    margin: 0 auto" />
                    {% else %}
                        <img src="{% static 'img/logo.png' %}"
                             alt="Logo"
                             style="max-width: 180px;
                                    height: auto;
                                    display: block;
                                    margin: 0 auto" />
                    {% endif %}
                </a>
                <form method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    <p>
                        <label>
                            Nombre de usuario<span>*</span>
                        </label>
                        <input name="username" type="text" required>
                    </p>
                    <p>
                        <label>Email</label>
                        <input name="email" type="email">
                    </p>
                    <p>
                        <label>
                            Contraseña<span>*</span>
                        </label>
                        <input name="password1" type="password" required>
                    </p>
                    <p>
                        <label>
                            Confirmar contraseña<span>*</span>
                        </label>
                        <input name="password2" type="password" required>
                    </p>
                    <p>
                        <label>
                            <a href="{% url 'account_login' %}">Ya tienes una cuenta</a>
                        </label>
                        <input type="submit" value="Registrarse" />
                    </p>
                </form>
            </div>
        </div>
    </body>
</html>
